@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    /* background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #91aee4;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.hero-inner{
    position: absolute;
    right: 300px;
}
.hero-inner1{
    position: absolute;
    left: 10px;
    top: 50px;
}

/* message container design */
.message-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.message-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Astronaut */
.astronaut{
    margin-top: -120px;
    margin-left: -440px;
    width: 400px;
    height: 400px;
    z-index: 1;
}

/* message design */
.message {
    width: 330px;
    margin: 0;
    z-index: 2;
    font: 2vw system-ui;
}

.message{
    animation: float 5s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 15px;
    color: brown;
    background-color: beige;
    padding: 50px;
    border-radius: 11px;
    box-shadow: 20px 20px blue;
    font-family: "Baloo 2", cursive;
    border: 1px solid green;
}

.message p:after {
    transform: translateY(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
    -webkit-text-stroke: 0.5px green;
    -webkit-text-fill-color: beige;
    border: 1px solid green;
    text-shadow: 22px 22px blue;
    text-align: left;
    font-size: 55px;
    width: 55px;
    height: 11px;
    line-height: 30px;
    border-radius: 11px;
    background-color: beige;
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px blue;
    z-index: -2;
}

.next-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: aqua;
    padding: 1px 10px;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translateY(0px);
    }
    55% {
        transform: translateY(-20px);
    }
    60% {
        line-height: 10px;
    }
    100% {
        line-height: 30px;
        transform: translateY(0px);
    }
}

.tangent-img, .secant-img {
    width: 30%; /* Responsive width */
    max-width: 300px;
    height: auto; /* Maintain aspect ratio */
    margin: 0px; /* Center horizontally with some spacing */
    display: none; 
    border-radius: 20px;
    position: absolute;
    margin-right: 400px;
    margin-bottom: 300px;
}

.tangent-img.show {
    transform: translateX(-50%) scale(1);
    opacity: 1;
    animation: popUp 1s ease-in-out;
}

.secant-img.show {
    transform: translateX(-50%) scale(1);
    opacity: 1;
    animation: popUp 1s ease-in-out;
}

@keyframes popUp {
    0% {
        transform: translateX(-50%) scale(0.2);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}
